{% extends 'base.html' %}
{% load static %} 
{% block title %}
    толстый кот
{% endblock title %}
{% block content %}

<div class="content">
    

<div class="gis">
    <div class="map">
        <script class="yndex" type="text/javascript" сlass="map" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A3c8fa980237e8a47734f6dd122762d043c5f97de560dec8983b9dd7f9f426864&amp;width=700&amp;height=600&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>

    <div class="center">

        <h3>Местоположение:</h3>
        <p>г.Барнаул, Ленина, 2В</p>
        <h2>Телефон:</h2>
        <p>+7 385 225-15-27<br>
        +7 903 947-65-27<br>
        +7 961 980-51-16</p>
        <h2>E-mail:</h2>
        <p>kuv_brn@bk.ru</p>

        
            <h2>Часы работы склада:<h2>
            <p >Пон. - Суб. с 9:30 до 18:00
            <br>Воскресен. с 9:30 до 17:00
            <br>Доставка с 18:00 до 21:00
        </p>
    </div>


</div>
<div class="ches">

</div>
</div>
</div>












{% endblock content %}