{% extends 'base.html' %}
{% load static %} 
{% block title %}
    толстый кот
{% endblock title %}
{% block content %}
<div class="start">
    <div class="black"></div>
    <img src="{% static 'img/photo.png'%}" class="start_img">
    <h2>Магазин обуви для детей и подростков </h2>
    <a href="catalog" style=" text-decoration: none;"> <button> Каталог </button></a> 
</div>
<div class="content" style="margin-top: 18%;">

<div class="inform">
<p>Интернет-магазин "Толстый Кот" рад предложить Вам качественную детскую и подростковуsю обувь от лучших обувных фабрик России - компаний "Котофей", 
"Антилопа" и "Скороход". В ассортименте нашего интернет-магазина представлена модная и стильная обувь всех размеров и сезонов, 
начиная от зимних сапожек и заканчивая летними туфельками.
</p>
<img class="inimg"src="{% static 'img/shoot.jpg'%}">
</div>

<div class="inform2">
<p>Формируя товарный ряд интернет-магазина, мы отдаем предпочтение, во-первых, правильной детской обуви, разработанной в соответствии со всеми стандартами 
качества и строгими требованиями врачей ортопедов. Во-вторых, обуви, изготовленной из натуральных материалов, таких как кожа, мех, войлок и шерсть.
</p>
</div>

<div class="inform">
<img class="inimg"src="{% static 'img/shoot.jpg'%}">
<p>Поставляя детскую обувь напрямую от компаний-производителей, мы гарантируем нашим покупателям отсутствие подделок: вся обувь в интернет-магазине 
100% фирменная. Кроме того, мы предлагаем обувь по очень низким ценам в связи с тем, что минуем услуги посредников, а также не несем расходы на содержание офф-лайн магазина.
</p>
</div>

<div class="inform2">
<p>Купить детскую обувь в нашем интернет-магазине очень просто: достаточно положить понравившуюся модель в корзину и выбрать удобный способ доставки. 
В случае доставки на дом, наш менеджер привезет Вам обувь по указанному адресу. После примерки, если обувь подошла и понравилась, Вы оплатите покупку. 
В случае самовывоза, Вы покупаете обувь в складе магазине по адресу пр.Ленина, 2В.
</p>
</div>

<div class="inform">
<p style="padding-top: 20px;"> Совершая покупки в нашем интернет-магазине, Вы экономите свои время и силы, тем более, если Ваш ребенок капризничает в транспорте или не любит 
ходить по магазинам. Намного удобнее выбрать нужную модель в интернет-каталоге и заказать доставку на дом. И, не выходя из собственной квартиры, 
в тот же день получить заказ, например, пару новеньких и красивых летних туфелек для дочки. А в сравнении с интернет ресурсами типа «Совместная закупка», 
при том же уровне цен, мы не заставляем Вас ждать подбора покупателей на все размеры, и даем возможность примерить, обменять или вернуть нашу обувь. 
Приятных Вам покупок в интернет-магазине "Толстый Кот"!
</p>
<img class="inimg"src="{% static 'img/shoot.jpg'%}">    
</div>


</div>
        <div class="pay">
            <h2 >Оплата и доставка товара</h2>
        </div>
            <div class="inform">
              <div class="content">
        <p><strong>Доставка </strong>по г.Барнаулу </p>
         <p>со <strong>склада-магазина </strong>осуществляется в вечернее время</p>
        
           с 18:00 до 21:00 в день приема заказа, оформленного до 16:00.
           с 18:00 до 21:00 следующего календарного дня, для заказа оформленного после 16:00;
        
         <>с <strong>оптового склада </strong>осуществляется в вечернее время
        
           с 18:00 до 21:00 через 5-10 рабочих дней.
         
        
        Стоимость доставки по г.Барнаулу – 250 рублей (кроме отдаленных районов города). Доставка в отдаленные районы города осуществляется в течение 3-х календарных дней. Стоимость доставки в:</p> 
  
        
          Научный городок, Гоньба, Казенная заимка, Власиха - 300 рублей
          Борзовая заимка, п.Южный, г. Новоалтайск - 350 рублей
        
    
        <p>В стоимость одной доставки входит товар, доставленный по одному адресу.</p>
      </li>
      
      <li><strong>Оплата</strong> за товар и доставку производится менеджеру в момент доставки товара.</li>
    
      <li><p><strong>Примерка</strong>: определиться с выбором размера вам поможет <a href="size">таблица размеров</a>. Для этого измерьте ножку маленького покупателя от большого пальца до пятки без запаса и с округлением в большую сторону до 0,5 сантиметра. Далее найдите в <a href="  ">таблице</a> соответствие вашей длины размеру обуви.</p><p>Также для примерки вы можете воспользоваться бесплатной услугой заказа до 3-х размеров одной модели.</p>
    
      </li>
    
      <li><strong>Самовывоз</strong>: Возможно получение товара со склада покупателем самостоятельно. В этом случае стоимость доставки не оплачивается. Для совершения покупки со склада свяжитесь с нами по контактному телефону <strong>25-15-27</strong> </li>
    </ol>
    <li><strong>Доставка в регионы РФ Почтой России</strong> </li>
    <p>Доставка по РФ производится только после согласования деталей заказа с менеджером магазина и полной предолаты заказа.</p>
    <p>Доставка до почтового отделения заказчика осуществляется ч/з 7-14 дней с момента поступления денежных средств на счет.</p>
    <p>Платежные реквизиты для зачисления денежных средств в российских рублях: 
    Получатель: Казанцев Юрий Васильевич 
    карта №4706 7485 2804 2537
    Счет получателя: 40817810820100919251 
    Банк получателя: ПАО АКБ "АВАНГАРД" 
    ИНН 7702021163 
    БИК 044525201 
    Корреспондентский счет № 30101810000000000201 
    Адрес банка получателя: 
    115035, г.Москва, Садовническая ул., д.12, стр. 1</p>
    
    <p></p>
    
    

  </div>
</div>

{% endblock content %}